$spacing-values: ("1": 1rem, "2": 2rem, "3": 3rem);
$spacing-directions: ("bottom": "b");

@import "colors";
@import "~bulma/bulma";

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  > * {
    margin: 0 auto;
    max-width: $fullhd;

    @media (max-width: $desktop) {
      margin-left: -.25rem;
      margin-right: -.25rem;
    }
  }
}